@import url('https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css?family=Forum&display=swap');
/*
class: .className{}
id: #idName
*/

html {
	/* layout - default is hidden*/
	/*font-family: 'Architects Daughter', cursive;*/
	overflow-y: scroll;
}

body {
	color: black;

	/* layout */
	padding: 0;
	margin: 0;
	
	/* text */
	/*font-family: 'Helvetica';*/
	font-family: 'Forum', cursive;
	
	font-size: 1em;
	overflow: auto;
	text-anchor: left;
	/*//min-width:  1200px;
	/*min-height: 700px;*/
}



svg {
	display: block;
	margin: auto;
	text-align: center;
}

.pressable{

}
.pressable:hover{
	color: #000000;
	pointer-events: visibleFill;
	background-color: #FFFFF0;
}

.pressable:active{
	color: #000000;
	pointer-events: visibleFill;
	background-color: #FFFF00;
}

.pressable:focus{
	color: #000000;
	pointer-events: visibleFill;
	background-color: #FFFF00;
}

.svg-container {
    display: inline-block;
    float: left;
   /* position: relative;*/
   /*position: absolute;*/
    width: 90%;
    width: 75%;
    height: 100vh;
    /*height: 75%*/;
   /* height: 100%;
    padding-bottom: 100%; */
    /* aspect ratio */
    vertical-align: top;
    margin: 0 auto;

    /*display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;*/
}
.svg-content-responsive {
    display: inline-block;
   /* position: absolute;*/
    margin: auto;
    top: 10px;
    width: 100%;
    left: 0;
    right: 0;
    /*left: 0;*/
}

.svg-content-responsive--a {
    /*display: inline-block;
    position: absolute;*/
    /*display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;*/

    /*margin: auto;*/
    display: inline-block;
    margin: 0;
    top: 10px;
    /*width: 45%;*/
    left: 0;
    right: initial;
    /*left: 0;*/
}

.svg-content-responsive--b {
    /*display: inline-block;
    position: absolute;*/
    display: inline-block;
    margin: 0;
    margin: auto;
    top: 10px;
    /*width: 30%;*/
    /*left: 50%;*/
    right: 0;
    right: initial;
    /*left: 0;*/
}

.toolbar--b{

   
    display: inline-block;
    margin: auto;
    width: 50%;
    position: absolute;
    left: 50%;
    right: 0;

}

.bars {
    fill: #8CD3DD;
  }
.bars:hover {
    fill: #F56C4E;
  }

.essay{
	padding: 0 2.5%;
	font-size: 1.5em;
}

.essay-text{
	padding: 0 15%;
}

button {
	border: none;
	background: rgba(241, 241, 241, 0.67);
	color: gray;
	cursor: pointer;

	float: left;
	padding: 5px;
	margin:2px;
	
	text-transform: lowercase;
}

.title_panel{
	text-align: center;
	font-family: 'Forum', cursive;
	float: auto;
	width: auto;
}

h1 {

	color: black;
	/* layout */
	margin: 0;
	padding-top: 0.15em;
	padding-left: 0.15em;
	padding-right: 0.15em;
	padding-bottom: 0.05em;
	
	/* text */
	font-weight: 700;
	font-size: 3em;
	text-align: center;
	/*text-transform: uppercase;*/


}

h2{
	font-weight: 10;
	font-size: 0.75em;
	text-transform: lowercase;
}



h4{
	font-size: 2em;
	text-anchor: center;
	text-transform: uppercase;
	text-align: center;
	margin: 0 auto;
}

h5{
	font-size: 1.25em;
	margin: 0 auto;
	text-anchor: justify
}

h6{
	font-size: 1em;
	text-anchor: center;
	text-transform: lowercase;
	text-align: center;
}

.legend{
	font-size: .8em;
	text-anchor: center;
	text-align: center;

}

.control_panel{
	padding-top: 0.3em;
	position: absolute;
	/*z-index: 100;*/
	width: 100%;
}




g{
	display: inherit;
}

.charts{
	/*width: 85%;
	height: auto;*/
}
.load_splash{
	/*visibility: visible;
	float: center;*/
	/*width: 100%;*/
	height: 75%;
	top: 60%;
	left: 50%;
	margin-top: -128px;
	margin-left: -128px;
	text-align: center;
	position: absolute;
	/*z-index: 101;*/
}

/*.filter_panel{
	float: right;
	font-family: 'Helvetica';

}*/

.filter-box{
	display:block;
	width:25px;
	height:25px;
	border-radius:12.5px;
	/*font-size:20px;*/
	color:green;
	line-height:100px;
	text-align:center;
	text-decoration:none;
	background:green;
}


.filter-box:hover{
	color:#ccc;
	text-decoration:none;
	background:#333;
}

.base {
	fill: navy;
}

.base:hover {
	color: silver;
	stroke-opacity: .5;
}

.node rect {
  cursor: move;
  fill-opacity: .9;
  shape-rendering: crispEdges;
}

.node circle {
	cursor: move;
  fill-opacity: .9;
  shape-rendering: crispEdges;
  fill: gray;
}

.node text {
  pointer-events: none;
  text-shadow: 0 1px 0 #fff;
  font-size: 10px;
  font-weight: 500;
  color: #000;
}

p{
	text-align: justify;
}

div{
	overflow: hidden;
}
/*div.tooltip {   
  position: absolute;           
  text-align: center;           
  width: auto;
  height: auto;
 
  padding: 2px;             
  font: 12px sans-serif;        
  background: lightsteelblue;   
  border: 0px;      
  border-radius: 8px;           
  pointer-events: none;         
}*/
.mySelect {
    padding: .2em 0;
    font-size: 1em;
}
#slider{
	position: absolute;

	/*height: 100%;*/
	display: none;
	float: right;
    overflow: auto;
	opacity: 1;
    color: #000000;
    padding: 10px;
	position: absolute;
	right: 0;
	width: 25%;
	
	text-align: justified;
	/*font: 12px sans-serif;*/        
	background: #f0f0f0;
	font-size: .75em;

}

.slider-header{
	max-width:100%;
	max-height:100%;
	object-fit: contain;
}

rect.border{
	/*border: #E6E6E6;
	border-width: 2px;*/
	/*stroke: #cececec7;*/
	stroke:#ffffff;
    stroke-width:2px;
    
}

rect.highlight{
	/*border: #E6E6E6;
	border-width: 2px;*/
	stroke: #FFDF00;
    stroke-width:3px;
   
}

rect.highlight--p{
	/*border: #E6E6E6;
	border-width: 2px;*/
	stroke:#ff4d50 !important;
    stroke-width:3px;
   
}

rect.highlight--s{
	/*border: #E6E6E6;
	border-width: 2px;*/
	stroke:	#FFDF00;
    stroke-width:3px;
   
}

.axis{
	font: .8em sans-serif;
	text-align: center;
	font-family: 'Forum', cursive;
	color: #919191;
}

